section {
    font-family: "Lato";
    background-color: #ffffff;
}

nav, section h1 {
    font-family: "Raleway";
}

body {
    background-color: #343a40;
}

img {
    width: 100%;
    height: auto;
}